<!DOCTYPE html>
<html>
  <head>
    <title>Travel App</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Weather results." />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Capstone: Travel app</h1>
    </header>
    <div class="form">
      <div class="inputs">
        <label>Enter the country name: </label>
        <input type="text" placeholder="Exp: UAE" id="country" />
        <label> Enter the city name:</label>
        <input type="text" placeholder="Exp: Dubai" id="city" />
        <br />
        <label> Which date will the trip be? </label>
        <input type="date" id="date" class="pointer" />
        <label> till </label>
        <input type="date" id="date-end" class="pointer" />
        <input type="submit" value="Generate" id="generate" class="pointer" />
      </div>
      <div class="results">
        <h3 id="destination">Destination, info:</h3>
        <h3>Weather at that time:</h3>
        <ul>
          <li id="high">Highest temperature »</li>
          <li id="lowest">Lowest temperature »</li>
          <li id="desc">Description »</li>
        </ul>
      </div>
    </div>
    <div class="image">
      <h3>Image of the place:</h3>
      <img id="load" src="" alt="" />
    </div>
    <footer>© Udacity, made by Fahad.</footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
